/*----Buttons----*/
.Primary_Btn {
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius: 8px;
  background: var(--primary_blue);
  color: var(--white_text);
  font-family: "Roboto Condensed", "sans-serif";
  line-height: 3rem;
  text-transform: uppercase;
  transition: all 0.1s ease;
  &:hover {
    background-color: var(--primary_blue_active);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}
