/*----Tag Keyword----*/
.Tag {
    width: fit-content;
    padding: .2rem .8rem;
    background-color: var(--accentBold);
    font-family: 'Roboto Condensed','sans-serif';
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: var(--white_text);
}

//left rounded corner for progress bar
.Left_rounded {
    border-radius: 100px 0 0 100px;
}

/**WEATHER API SECTION**/
//shadow circle under weather svg for visibility
.Circular_box{
    background: hsla(220, 14%, 96%, 0.231);
    border-radius: 100px;
}