@import url("https://fonts.googleapis.com/css2?family=Rakkas&family=Roboto:ital,wght@1,100;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap");
footer {
  padding: 7.5% 15%;
}

.Mymargin {
  margin: 100px;
}

.ListItems li {
  font-weight: 500;
  margin: .5rem 0;
  color: #737373;
}

.ListItems li:hover {
  color: #474747;
  cursor: pointer;
}

.Frost {
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 1;
}

nav {
  z-index: 2;
  position: relative;
}

.Heroimage {
  background-image: url("../assets/heroimage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  top: 0;
}

.half_vh {
  height: 50vh;
}

.MuiPagination-ul {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Nav-link {
  text-decoration: underline;
  -webkit-text-decoration-color: rgba(99, 102, 241, 0.5);
          text-decoration-color: rgba(99, 102, 241, 0.5);
  -webkit-transition: all .2s;
  transition: all .2s;
}

.Nav-link:hover {
  -webkit-text-decoration-color: #6366f1;
          text-decoration-color: #6366f1;
}

main {
  width: 100%;
}

@font-face {
  font-family: 'MyFont';
  src: local("MyFont"), url(../assets/fonts/brushy/BRUSHY.ttf) format("truetype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}

.Condense {
  font-family: 'Roboto Condensed', sans-serif;
}

.Font_brushy {
  font-family: 'MyFont';
}

.Weather_icon {
  width: 100px;
  height: 100px;
}

.Font_dk_teal {
  color: #00796b;
}

.Bg_dk_teal {
  background-color: #00796b;
}

.Font_dk_slate {
  color: #546e7a;
}

.Bg_dk_slate {
  background-color: #546e7a;
}

.Bg_lt_teal {
  background-color: #e0f2f1;
}

.w-fit {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.Circular_box {
  background-color: #b2dfdb;
  border-radius: 100px;
}

.imagesss {
  width: 100px;
  height: 100px;
}

.RandomSize {
  height: 24px;
}

.Header_lh {
  line-height: 1.25;
}

.Para {
  line-height: 1.5;
  font-size: 1.125rem;
  font-family: 'Roboto', sans-serif;
}

.Left_rounded {
  border-radius: 100px 0 0 100px;
}

.MuiDivider-root::before, .MuiDivider-root::after {
  border-top: 3px solid rgba(142, 161, 160, 0.68) !important;
}

.css-1vw6mcs-MuiTypography-root {
  margin-bottom: 0 !important;
}

.Feature_cardWidth {
  height: 450px;
}

@media screen and (max-width: 600px) {
  .FeatureCards_MQ {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .FeatureCards_MQ .Feature_cardWidth {
    height: 50vw;
  }
  .MuiDivider-root {
    white-space: normal !important;
    width: auto !important;
  }
  .css-1vw6mcs-MuiTypography-root {
    font-size: 2rem !important;
  }
}
/*# sourceMappingURL=general.css.map */