footer{
    padding: 7.5% 15%;
}
.Mymargin{
    margin: 100px;
}
.ListItems{
    li{
        font-weight: 500;
        margin: .5rem 0;
        color: rgb(115, 115, 115);
        &:hover{
            color: rgb(71, 71, 71);
            cursor: pointer;
        }
    }
}
.Frost{
    //backdrop-filter: blur(5px);
    position: absolute;
    width: 50vw;
    top: 0;
    z-index: 1;
}
nav{
    z-index: 2;
    position: relative;
}
.Heroimage{
    //background-image: url('C:\Users\Alisar\Documents\React\material-ui-app\src\assets\heroimage.jpg');
    background-image: url('../assets/heroimage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100vw;
    top: 0;
}

.half_vh{
    height: 50vh;
}
.css-o69gx8-MuiCardMedia-root{
    //height: 50%;
}