//color pallete
$accentBold : orange; 
.Accent { color: $accentBold }

$color-lt-teal: #e0f2f1;
$color-dk-teal: #00796b;
$color-slate: #546e7a;
$color-md-teal: #00a895b9;
.Font_dk_teal {
    color: $color-dk-teal;
}
.Font_md_teal {
    color: $color-md-teal;
}
.Bg_dk_teal {
    background-color: $color-dk-teal;
}
.Font_dk_slate {
    color: $color-slate;
}
.Bg_dk_slate {
    background-color: $color-slate;
}
.Bg_lt_teal {
    background-color: $color-lt-teal;
}

//font family
.Roboto {
    font-family: 'Roboto','sans-serif';
}

//FONT SIZING
a {
    height: fit-content;
}
footer{
    padding: 7.5% 15%;
}
.Mymargin{
    margin: 100px;
}
.ListItems{
    li{
        font-weight: 500;
        margin: .5rem 0;
        color: rgb(115, 115, 115);
        &:hover{
            color: rgb(71, 71, 71);
            cursor: pointer;
        }
    }
}
.Frost{
    backdrop-filter: blur(2px);
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.548) 0%, rgba(255,255,255,0) 30%);
}
nav{
    z-index: 2;
    position: relative;
    a{
        font-size: .875rem;
    }
}
.Heroimage{
    background-image: url('../assets/heroimage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    top: 0;
}

.half_vh{
    height: 50vh;
}

//center pagination
.MuiPagination-ul{
    justify-content: center;
}
.Nav-link{
    text-decoration: none;
    //text-decoration-color: rgba(99, 102, 241, 0.5);
    transition: all .2s;
    &:hover{
        //text-decoration-color: rgb(99, 102, 241);
        color: #16ffe4b9;
        
    }
}
main{
    width: 100%;
}

.LetterSpacing p:hover{
    letter-spacing: .25em !important;
    transition: .3s ease-in-out;
    color: orange;
}

//Headbanner
.Headbanner{

}
.Headbanner_div {
    //top: -3rem;

    width: 70%;
    padding: 3rem 15% 3rem 12.5%;
    h3 {
        line-height: 8rem;
    }
}
.Page_Template_Container{
    top: -10rem;
    position: relative;

}


//fonts
//BRUSHY
@font-face {
    font-family: 'MyFont';
    src: local('MyFont'), url(../assets/fonts/brushy/BRUSHY.ttf) format('truetype');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}
//ROBOTO
@import url('https://fonts.googleapis.com/css2?family=Rakkas&family=Roboto:ital,wght@1,100;1,300;1,400;1,500&display=swap');
//ROBOTO Condensed
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');

.Condense {
    font-family: 'Roboto Condensed', sans-serif;
}

.Font_brushy {
    font-family: 'MyFont';
}

.Weather_icon {
    width: 100px;
    height: 100px;
}




.w-fit {
    width: fit-content;
}

.Circular_box{
    background-color: #b2dfdb;
    border-radius: 100px;
}
.imagesss {
    width: 100px;
    height: 100px;
}

//to delte below
.RandomSize {
    height:24px;
    //width:20%;
}

//Line Height
.Header_lh {
    line-height: 1.25;
}
.Para {
    line-height: 1.5;
    font-size: 1.125rem;
    font-family: 'Roboto', sans-serif;
}



//left rounded for progress bar
.Left_rounded {
    border-radius: 100px 0 0 100px;
}


//Divide


.MuiDivider-root::before , .MuiDivider-root::after{
    //border-top: 3px solid rgba(142, 161, 160, 0.68) !important;
    border-top: 3px solid $accentBold !important;
}
    //Divide-margin of the Typography
    .css-1vw6mcs-MuiTypography-root{
        margin-bottom: 0 !important;
    }

//FeatureCard
.Feature_cardWidth{
    height: 450px;
}


//Desktop and Large Laptops
@media screen and (min-width: 992px) {
    html {
        //font-size: 24px !important;
    }
}


//Mobile
@media screen and (max-width: 600px) {
    //FeatureCards
    .FeatureCards_MQ{
        flex-direction: column;
        align-items: center;
        //FeatureCard
        .Feature_cardWidth {
            height: 50vw;
        }
    }

    //Divide
    .MuiDivider-root{
        white-space: normal !important;
        width: auto !important;
    }
        //Divide-margin of the Typography
        .css-1vw6mcs-MuiTypography-root{
            font-size: 2rem !important;
        }
}